body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'TT Lakes', sans-serif;
	min-height: 100vh;
}


header *{
	box-sizing:border-box;
	// border: 1px solid gray;
}

.container{
	margin: 0 auto;
	max-width: 320px;
	min-width: 270px;
	position: relative;
}
.hamburger{
	background-image: url(../img/symbols/burger.svg);
	background-position: center;
	background-repeat: no-repeat;
}