

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'TT Lakes', sans-serif;
	min-height: 100vh;

}
    html, body {
      position: relative;
      height: 100%;
    }
.body__center{
	max-width: 1440px;
	margin: 0 auto;
}
.container{
		margin: 0 auto;
	max-width: 360px;
	min-width: 320px;
	overflow: hidden;
}
.shadow{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	z-index: 5;
}
body *{
	box-sizing:border-box;
	// padding: 1px;
	// border: 1px solid gray;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.g-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background-color: $some;
	cursor: pointer;
}
.g-line{
	width: 2px;
	height: 32px;
	background: $lightgray;
	border-radius: 1px;
}
.g-block{
	display: block;
}
.g-none{
	display: none;
}
.g-flex{
	display: flex;
}
